@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
  body {
    @apply text-sm jxl:text-base;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply p-0 mb-j15 font-medium;
  }
  h2, h3, h4, h5, h6 {
    @apply text-base-100 !leading-[1.3];
  }
  h1 {
    @apply text-26 jlg:text-3xl jxl:text-4xl !leading-[1.1] text-blue;
  }
  h2 {
    @apply text-26 jlg:text-3xl jxl:text-34; 
  }
  h3 {
    @apply text-lg jlg:text-xl jxl:text-25;
  }
  h4 {
    @apply text-base jlg:text-lg jxl:text-22;
  }
  h5 {
    @apply text-15 jlg:text-base jxl:text-xl;
  }
  h6 {
    @apply text-sm jxl:text-lg;
  }
}
@layer components {
    .btn-secondary {
      @apply py-3 px-10 min-h-9 leading-none  text-15 bg-pink-gradient text-white font-medium 
    }
    .btn-secondary:hover {
      background-size: 200% 100%; /* Desired background size on hover */
    }

    .btn-secondary-small {
      @apply py-4 px-9   min-h-12 leading-none  text-15 bg-pink-gradient text-white font-medium 
    }
    .btn-secondary-small:hover {
      background-size: 200% 100%; /* Desired background size on hover */
    }

    .btn-primary {
      @apply py-3 px-5 bg-blue text-white font-medium text-sm
       shadow-md inline-block  min-h-9 leading-none relative
       before:content-[""] before:absolute before:left-0 before:top-0  before:w-0 z-[0] before:h-full
       before:transition-all before:duration-300 ease-linear before:delay-0 
       hover:before:bg-blue-500 hover:before:w-full hover:before:z-[-1]
    }

    .btn-outer {
      @apply flex-1 flex items-center justify-center text-base text-brand font-medium h-12 border-2 rounded-sm border-brand
      leading-none relative
      before:content-[""] before:absolute before:left-0 before:top-0  before:w-0 z-[0] before:h-full
      before:transition-all before:duration-300 ease-linear before:delay-0 
      hover:before:bg-pink-gradient hover:text-white hover:before:w-full hover:before:z-[-1]
    }
    .btn-toCart {
      @apply  outline-none min-h-[48px] text-center bg-[linear-gradient(to_right,#2aa5a6_0%,#2aa5a6_50%,#289798_50%,#289798_100%)] bg-[length:200%_100%] text-white bg-[100%_100%]  hover:bg-[0_0] transition-all duration-500 bg-no-repeat p-j5
    }
    .btn-greenOutline {
      @apply outline-none text-center bg-[linear-gradient(to_right,#2aa5a6_0%,#2aa5a6_50%,#ffffff_50%,#ffffff_100%)] bg-[length:200%_100%] text-green border border-green bg-[100%_100%] hover:text-white hover:bg-[0_0] transition-all duration-500 bg-no-repeat p-j5
    }
    .custom-h2::before,
    .custom-h2::after {
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      position: absolute;
      background: #334f67;
      height: 1px;
      width: 136px;
      bottom: 0;
      
    }
    .custom-h2::before {
      margin-left: -37px;
    }
    .custom-h2::after {
      margin-left: 37px;
      bottom: 11px;
    }

    .custom-container {
      @apply container j2xl:!max-w-[1860px];
    }
    a.text-onsale{color:#ef2456!important;}
    a.text-onsupersale{color:#289798!important;}

    .variationsListView table thead th {
      @apply py-2 px-j10 font-medium align-top;
    }
    .variationsListView table tbody td {
      @apply p-j10 font-medium align-top text-15 border-b border-b-grey-200;
    }
    .badgesFlags .alert-item {
      @apply aspect-square flex relative cursor-pointer items-center justify-center border bg-[#f8f8f8] transition-all shadow-[inset_0_0_0_1px_#707070] hover:bg-green hover:text-white hover:shadow-[inset_0_0_0_1px_#027879];
    }
    .no-display  {
      @apply hidden;
    }
    .tab-main ul li {
      @apply relative block pl-j30 before:absolute before:left-0 before:top-[7px] before:bg-ul-listItem before:bg-contain before:bg-no-repeat before:w-[13px] before:h-[11px];  
    }
    .tab-main ul li a {
      @apply hover:text-brand hover:underline
    }    
    .tab-main p {
      @apply mb-2.5;
    }
    .tab-main h2 {
      @apply text-3xl font-semibold mb-4;
    }
    .shortDescription {
      @apply relative after:absolute after:inset-0 after:top-auto after:h-14 after:bg-gradient-to-t after:from-white via-white;
    }
    .shortDescription ul li {
      @apply relative mb-1 pl-3.5 before:left-0 before:top-[8px] before:absolute before:rounded-[2vw] before:w-1.5 before:h-1.5 before:bg-blue;
    }
    .overlay {
      @apply z-50;
    }
  }

@layer utilities {
  .inputNumArrowHidden::-webkit-inner-spin-button,
  .inputNumArrowHidden::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .inputNumArrowHidden {
    -moz-appearance: textfield; /* Firefox */
  }
}
